title: CONFEST 2026
preposition: at
description: >-
  Liverpool, UK
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://confest-2026.github.io/" # the base hostname & protocol for your site, e.g. https://example.com

#theme: jekyll-theme-conference

# Build settings
markdown: kramdown
sass:
  style: compressed

# Additional exclude from processing
exclude:
  - vendor
  - .github/
  - README.md
  - LICENSE.md
  - REDISTRIBUTED.md
  - purgecss.config.js

# Collections and their defaults
collections:
  talks:
    output: true
    permalink: /:collection/:title/
  speakers:
    output: true
    permalink: /:collection/:title/
  rooms:
    output: true
    permalink: /:collection/:title/

defaults:
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
  - scope:
      path: ""
      type: speakers
    values:
      layout: speaker
  - scope:
      path: ""
      type: rooms
    values:
      layout: room


conference:

  # Language
  lang: en

  # Timezone
  tz: "+00:00"

  # Show theme errors:
  show_errors: True

  # Navigation bar
  navigation:
    logo:
      name: CONFEST 2026, Liverpool, UK
      img: 'logoy.png'
      url: '/'
    breakpoint: lg
    links:
      - name: CONCUR
        relative_url: /concur
      - name: QEST + FORMATS 
        relative_url: /qestformats
        # submenus specified in _data/submenu/qestformats.yml
      - name: FMICS
        relative_url: /fmics
        # submenus specified in fmics/submenu.yml
      - name: Workshops
        relative_url: /workshops
        # submenus specified in _data/submenu/workshops.yml
      - name: Local Info
        relative_url: /location/
        # later becomes a submenu with links to the location, program, talks, speakers, chat, etc.
        # menu:
        # - name: Location
      #  - name: Program
      #    disabled: true
      #    relative_url: /program/
      #  - name: Talks
      #    relative_url: /talks/
      #  - name: Speakers
      #    disabled: true
      #    relative_url: /speakers/
      #  - name: Chat
      #    disabled: true
      #    absolute_url: https://highlights.zulipchat.com/

  # Link Preview for Sharing
  link_preview:
    # also adapt "preposition" property at top for more meaningful descriptions
    disable: false
    img:
      twitter: 'twitter_preview.png'      # inside /assets/images/
      open_graph: 'facebook_preview.png'  # inside /assets/images/

  # Main landing page
  main:
    # logo:
    #   img: ''
    links:
      # - name: How to get there
      #   relative_url: /location/
      # - name: Program
      #   relative_url: /program/
      #   disabled: true
      # - name: Tickets
      #   disabled: true
      #   absolute_url: ''

  # Information boxes
  info_bars:
    # - title: Welcome to the Conference Theme for Jekyll!
    #   color: primary
    #   main_only: true
    #   text: |
    #     The Theme was originally made for the [Winterkongress](https://www.digitale-gesellschaft.ch/kongress/), a yearly conference of the [Digital Society Switzerland](https://digitale-gesellschaft.ch/).
    #
    #     ---
    #
    #     See the [README](github.com/DigitaleGesellschaft/jekyll-theme-conference/) on the project's GitHub repository for further information on how to configure and adapt it to your needs.
    - text: Don't look at me too closely yet! I am under construction!
      color: warning
      main_only: false

  # Live indications
  live:
    date: 01.01.2020
    timezone: GMT+1
    stop:       240  # in minutes
    streaming:
      enable: true
      pause:     60  # in minutes
      prepend:    5  # in minutes
      extend:     5  # in minutes
    demo:
      enable: false
      duration: 300  # in seconds
      pause:     10  # in seconds

  talks:
    # Talk categories
    main_categories:
      - name: Cat A
        color: info
      - name: Cat B
        color: success

    # Hide icons on talk overview page
    hide_icons: false

  speakers:
    # Show first and last name
    show_firstname: true

  location:
    # Disable links to locations
    hide: false
    # URL of location / room overview page
    url: '/location'
    # Main page title shown on location/room navigation bar
    navbar_title: 'Location'
    # Show map on location main page.  Set `map: false` if you don't want to
    # display it.
    map:
      # Initial map center point
      home_coord: 53.405122, -2.963189
      # Alternative map providers can be found on https://leaflet-extras.github.io/leaflet-providers/preview/
      # The following do match the Bootstrap design not too badly:
      #   - Thunderforest.Neighbourhood
      #   - Esri.WorldTopoMap
      map_provider: "OpenStreetMap.Mapnik"
      default_zoom: 17


  program:
    # URL of program page
    url: '/program'

    # Time steps in program table
    time_steps: 15 # in minutes

    # Show intermediary time steps (next to full hours)
    show_alltimes: true
