<a href="https://www.fmeurope.org/" style="display:inline-block;vertical-align:middle;text-decoration:none;">
  <span style="display:inline-flex;align-items:center;padding:15px;">
    <img src="{{ "/assets/images/fme.png" | relative_url }}" style="height:60px;width:auto;padding:0;" alt="FME logo">
    <span style="display:flex;flex-direction:column;line-height:1.0;font-size:1rem;font-weight:600;margin-left:5px;color:#7a003c;text-align:left;font-style:italic">
      <span>Formal</span>
      <span style="padding-left:3ch">Methods</span>
      <span style="padding-left:6ch">Europe</span>
    </span>
  </span>
</a>
