// Beatles Yellow Submarine Color Scheme
$primary-yellow:  #FFD800;
$deep-blue:       #00205B;
$sky-blue:        #4FC3F7;
$mid-blue:        #1976D2;
$navy-blue:       #0D133D;
$sea-green:       #2ECCB0;
$sub-orange:      #FF9900;
$funky-purple:    #A259CA;
$cream-bg:        #FFF8DC;

$bright-red:      #FF3B3B;
$deep-brown:       #6E2713;
$light-brown:       #8B5C2A;

// Framework Configuration

//   Bootstrap Theme
$border-radius:                .1rem !default;
$alert-border-width:           4px !default;
$alert-color-level:            9 !default;
$badge-font-size:              .85em !default;
$enable-responsive-font-sizes: true !default;

// Beatles theme colors
$primary:      $deep-blue !default;
$secondary:    $mid-blue !default;
$success:      $sea-green !default;
$info:         $sky-blue !default;
$warning:      $primary-yellow !default;
$danger:       $sub-orange !default;
$light:        $cream-bg !default;
$dark:         $navy-blue !default;

$theme-colors: (
  "primary":   $primary,
  "secondary": $secondary,
  "success":   $success,
  "info":      $info,
  "warning":   $warning,
  "danger":    $danger,
  "light":     $light,
  "dark":      $dark
);

  // make the background blue
body {
  //height: 100%;
  min-height: 100%;
  //background: none !important;
  background: $cream-bg !important;
  //color: #fff !important;
}
html {
  min-height: 100%;
    background: $cream-bg;
  /* background: linear-gradient( */
  /*   to bottom, */
  /*   //$sky-blue 0%, */
  /*   $mid-blue 0%, */
  /*   /* $deep-blue 40%, */ 
  /*   /* $navy-blue 100% */
  /* ) !important; */
}



.nav-divider {
  height: 16px; // thickness of the bar
  background: $bright-red;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
}


//   FontAwesome
$fa-font-path: '/assets/webfonts' !default;


$uol-darker : $deep-blue;

$jumbotron-bg : $primary-yellow;
//$jumbotron-bg : $cream-bg;
// Import Sources

//   Style Framework: Bootstrap
@import 'bootstrap/bootstrap';
//   Icons: FontAwesome
@import 'font-awesome/fontawesome';
@import 'font-awesome/regular';
@import 'font-awesome/solid';
//   Map Display Framework: Leaflet
@import 'leaflet/leaflet';
@import 'leaflet/leaflet-easybutton';
@import 'leaflet/leaflet-locatecontrol';

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import 'font-beatles';

body {
  /* font-family: 'Luckiest Guy', cursive, sans-serif; */
}

// Adapt Bootstrap Elements

//   Alert
.alert {
  //$alert-border-radius
  border-width: 0px;
  border-left-width: $alert-border-width;
}

@each $color, $value in $theme-colors {
  .border-soft-#{$color} {
    border-color: theme-color-level($color, $alert-border-level);
    border-left-width: $alert-border-width;
    border-left-style: solid;
  }
  .bg-soft-#{$color} {
    @include gradient-bg(theme-color-level($color, $alert-bg-level));
  }
}

//   Button group for lists
ul.btn-group {
  > li:not(:first-child) > .btn {
    margin-left: -$btn-border-width;
    @include border-left-radius(0);
  }

  > li:not(:last-child) > .btn {
    @include border-right-radius(0);
  }
}

// Extend Bootstrap Elements
.display-5 {
  font-size:   3rem;
  font-weight: $display4-weight;
  line-height: $display-line-height;
}
.font-normal {
  .badge {
    font-size:   .85em;
  }
}
.overflow-y-hidden {
  overflow-y: hidden;
}

// Custom Styling

.navbar .dropdown-item {
  color: $sub-orange !important;
}

.navbar {
  /* background-color: $deep-blue !important; */
  //font-family: 'Beatles', cursive, sans-serif;
  font-family: 'Luckiest Guy', cursive, sans-serif;
  /* color: $funky-purple !important; */
.nav-link {
  font-size: 1.2em;
  padding: .5rem .5rem;
}
}

.navbar-darker {
  background-color: $mid-blue !important;
  background-color: $deep-blue !important;
   background: linear-gradient(
     to bottom,
     $navy-blue 10%,
     $deep-blue 50%,
     $mid-blue 95%,
     //$sky-blue 95%
  ) !important;
}
.navbar-darker .nav-link {
  color: $sky-blue !important;
}

.navbar-darker .active a {
  color: $primary-yellow !important;
}
.subnav {
 background-color: $primary-yellow !important;
}
.navbar-lighter .nav-link {
  color: $sub-orange !important;
  color: $mid-blue  !important;
}
.subnav .active {
  //color: $bright-red !important;
  color: $deep-blue !important
}
.navbar-toggler {
  //color: $bright-red !important;
  border-radius: 100%;
  //background: $sub-orange;
  border: 0px;
  /* font-family: 'Luckiest Guy', cursive, sans-serif; */
  /* font-size: 2rem; */
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  padding: 0.2em 0.2em;
  //font-size: 1rem;
  margin-right: 4px;
  //transition: background 0.2s;
}

.navbar-darker .navbar-toggler{
  //border-radius: 100%;
 border: 2px solid rgba(255,255,255,0.7);
  //box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  //margin-right: 4px;
  /* Bubble effect: subtle white glow */
  box-shadow:
    0 0 0 2px rgba(255,255,255,0.3),
    0 2px 8px rgba(0,0,0,0.25);
  transition: box-shadow 0.3s, border-color 0.3s, background 0.3s;
  &:hover, &:focus {
    //background: $sub-orange;
    outline: 0px;
    border-color: rgba(255,255,255,0.9);
    box-shadow:
      0 0 0 4px rgba(255,255,255,0.4),
      0 2px 12px rgba(0,0,0,0.3);
  }
}

.navbar-light .navbar-toggler {
  border-radius: 100%;
  border: 4px solid;
  box-shadow: none;
  //padding: 0.4em 0.4em;
  font-size: 1rem;
  margin-right: 2em;
  transition: background 0.3s;
  //border-color: $sub-orange;
  border-color: $bright-red;
    background: $deep-brown;
  &:hover, &:focus {
    //background: $li-brown;
    background: $sub-orange;
    outline: 0px;
    //color: $deep-blue !important;
    //border-color: $bright-red;
  }
}

// NEWS

//   Sticky header and first column
.news .table {
  // Sticky horizontal positioning
  th {
    background-color: unset;
    width: 20%;
    min-width: unset;
  }
  td {
    width: 800%;
  }
}







// General

//   Extend logo when collapsed navbar is shown
.navbar-collapse.show + .navbar-logo {
  width: 100%;
}

//   Keep images in container
main.container img {
  max-width: 100%;
  height: auto;
}

//   No bottom margin on info-bar
.alert > p:last-of-type {
  margin-bottom: 0;
}

//   Live icon
.live-button > object {
  width: 0.85em;
  height: 0.85em;
  color: inherit;
}

//   Live button font size in navigation bar
.nav-link .live-button {
  font-size: 1em;
}

// Program

//   Sticky header and first column
.table {
  // Avoid sticky cells without border
  border-collapse: separate;

  // Correct border-width caused by border-collapse
  border-spacing: 0px;
  tbody tr:first-of-type > * {
    border-top-width: 0px;
  }

  // Sticky horizontal positioning
  th {
    position: sticky;
    background-color: $body-bg;
  }
  th:first-of-type {
    left: 0px;
    z-index: 1;
  }

  // Hide shadow of table cells next to sticky header
  thead tr > th:last-of-type {
    box-shadow: 10px 0px 0px 0px rgba(255,255,255,1);
  }
}

//   Column Width
.table {
  // First row defines width for all columns
  table-layout: fixed;

  // Columns define table width
  width: auto;

  // Column widths
  th, td {
    // Total available container width is 1110px

    // Width of columns with content (default)
    width: 245px;
    min-width: 245px;

    // Spacing between columns
    &.col-space {
      width: 15px;
      min-width: 15px;
    }
    // Width of first column containing timestamps
    &.col-title {
      width: 70px;
      min-width: 70px;
    }
  }
}

// Location
.nav-pills .nav-link.active {
  background-color: $primary-yellow;
  color: $deep-blue;
}

#map {
  height: 50vh;
  min-height: 400px;
  width: 100%;
}

//   Program per Room
.list-program {
  border: 0 none white;

  border-collapse: separate;
  border-spacing: 0 0.5em;

  tr {
    td:first-child {
      vertical-align: top;
    }

    td:last-child {
      width: 100%;
    }
  }
}

// Speaker
.speakergroup {
  page-break-inside: avoid;
  break-inside:      avoid-column;
}
@include media-breakpoint-up(sm) {
  .speakerlist {
    column-count: 1;
  }
}
@include media-breakpoint-up(md) {
  .speakerlist {
    column-count: 2;
  }
}
@include media-breakpoint-up(lg) {
  .speakerlist {
    column-count: 3;
  }
}


// Print
@media print {
  // remove underline for links
  a {
    text-decoration: none !important;
  }

  // overwrite bootstrap default white background
  // works only with Webkit (Chrome, Safari) and Firefox
  @each $color, $value in $theme-colors {
    .table td.alert-#{$color} {
      color-adjust: exact;
      background-color: theme-color-level($color, $alert-bg-level) !important;

      color: black;
    }
  }
  .badge {
    color-adjust: exact;

    border: 0 none white;
    text-decoration: none !important;
  }

  // Remove sticky position from table to show borders
  .table  th {
    position: inherit;
  }

  // Example custom alert styles
  .alert-primary {
    background-color: lighten($primary-yellow, 35%);
    color: $deep-blue;
    border-left: 4px solid $primary-yellow;
  }
  .alert-danger {
    background-color: lighten($bright-red, 32%);
    color: $deep-blue;
    border-left: 4px solid $bright-red; 
  }
   
  // Remove live buttons
  .live-show {
    display: none;
  }
  .live-hide {
    display: inline-block !important;
  }
}

main {
  min-height: 400px;
  margin-top:1em;

  a {
    color: $bright-red;
  }
}

// want the line to be the width of the text not the full width of the footer
footer .footerline > div > div { 
 border-top: solid 1px rgba(50,50,50,0.3); 
 margin-top: 2em;
 margin-bottom: 1.5em;
}

.hero {
  @include media-breakpoint-down(sm) {
    height: 300px;
  }
  @include media-breakpoint-between(sm, md) {
    height: 450px;
  }
  @include media-breakpoint-up(lg) {
    height: 550px;
  }
  background-size: cover; 
  background-position: center center;
}

