</main>

{% capture footer_contents %}
  CONFEST
  1-5 September 2026<br>
  <span style="font-size:x-small">Last updated: {{ 'now' | date: '%B %d, %Y' }}</span>
{% endcapture %}

<div class="waves"></div>
  <footer >
    

    <div class="container">
      <div class="row footerline"><div class="col-12"><div></div></div></div>
      <div class="row">
        <div class="col-md-4 col-lg-2 mb-3">
          <a href="https://www.liverpool.ac.uk/computer-science/">
          <img src="{{ '/assets/images/uol-white.png' | prepend: site.baseurl }}" class="align-right" alt="University of Liverpool" style="max-width: 200px; width: 100%;"/>
        </a>
        </div>
        <div class="col-md-5 col-lg-7 col-12 text-left">
          {{ footer_contents }}
        </div>
        <div class="col-md-3 d-none d-md-block">
          <img src="/assets/images/subby.png" style="position:relative; height: 300px;top:-200px;margin-bottom:-200px">
      </div>
    </div>
    
  </footer>

  {%- include partials/modal_link.html -%}

  {%- if site.conference.live.streaming.enable -%}
    {%- include partials/modal_live.html -%}
  {%- endif -%}

  <!-- Append build time to avoid caching of live program embedded in JavaScript file -->
  <script src="{{ site.baseurl }}/assets/js/main.js?t={{ site.time | date: "%s" }}"></script>

</body>
</html>
