</main>

{% capture footer_contents %}
  CONFEST
  September 1-5, 2026<br>
  <span style="font-size:x-small">Last updated: {{ 'now' | date: '%B %d, %Y' }}</span>
{% endcapture %}

<div class="waves"></div>
  <footer >
    

    <div class="container">
      <div class="row footerline"><div class="col-12"><div></div></div></div>
      <div class="row">
        <div class="col-md-8 col-6">
          <div class="row">
            <div class="col-md-4 " >
  <a href="https://www.liverpool.ac.uk/computer-science-and-informatics/">
            <img src="{{ '/assets/images/uol-white.png' | prepend: site.baseurl }}" class="align-right mb-3" alt="University of Liverpool" style="max-width: 200px; width: 100%;"/>
          </a>
            </div>
            
            <div class="col-md-8 ">
                {{ footer_contents}}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6">
          <img src="/assets/images/subby.webp" class="subby" alt="A Yellow Submarine, beneath the sea">
        </div>

    </div>
    
  </footer>

  {%- include partials/modal_link.html -%}

  {%- if site.conference.live.streaming.enable -%}
    {%- include partials/modal_live.html -%}
  {%- endif -%}

  <!-- Append build time to avoid caching of live program embedded in JavaScript file -->
  <script src="{{ site.baseurl }}/assets/js/main.js?t={{ site.time | date: "%s" }}"></script>

</body>
</html>
