 
{% if page.subnav %}
<nav class="navbar navbar-expand-{{ site.conference.navigation.breakpoint | default: 'md' }}   navbar-light navbar-lighter">
  
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
    {% for topnav in  site.conference.navigation.links -%}
      {% if topnav.submenu and topnav.subnav and topnav.subnav == page.subnav  -%}
            {%- for link in topnav.submenu -%}
            {% assign current_url = page.url | remove: '.html' | remove: '/' %}
              {% assign nav_url = link.relative_url | remove: '/' %}
              {%- assign link_styleclass = "nav-link" -%}

              
            <li class="nav-item {% if current_url == nav_url %}active{% endif %}">
              {%- if current_url == nav_url -%}
                {%- assign link_styleclass = link_styleclass | append: ' active' -%}
              {%- endif -%}
              {%- include partials/get_link.html -%}
              {{ link_tag }}
                {{ link.name }}
              </a>
            </li>
            
            {%- endfor %}
      {%- endif %}
      
    {%- endfor %}
</ul>
    </div>
  </div>
</nav>

{%- endif %}


