

  <ul class="nav nav-pills d-print-none mb-3">
    {% for link in or site.conference.location.hide -%}
      {% if link.menu and link.name == 'CONCUR' -%}
              {%- assign parent_link = link -%}
                {%- for link in parent_link.menu -%}
                <li>
                    <a class="nav-link {% if this_link.name == link.name %}active{% endif %}" href="{{ link.relative_url | prepend: site.baseurl }}">
                      {{ link.name }}
                    </a>
                {%- endfor %}
      {%- endif %}
    {%- endfor %}
  </ul>
