{% include partials/header.html %}

  <h1 class="display-5 mb-2 text-break">
    {%- if page.title -%}
      {{- page.title -}}
    {%- else -%}
      {{- page.conf_name -}} Program
    {%- endif -%}
  </h1>

  {% comment %}
  {% include partials/navbar_conferences.html %}
  {% endcomment %}

  {{ content }}

  {%- assign conf_name = page.conf_name -%}
  {%- assign conf_start_total_min = 9999 -%}
  {%- assign conf_end_total_min = 0 -%}
  {%- for d in site.data.program.days -%}
    {%- assign day_has_conf = false -%}
    {%- for room_schedule in d.rooms -%}
      {%- for t in room_schedule.talks -%}
        {%- assign t_talk = site.talks | where: 'name', t.name | first -%}
        {%- if t_talk.categories contains conf_name -%}
          {%- assign day_has_conf = true -%}
          {%- break -%}
        {%- elsif t.talks -%}
          {%- for sub_t in t.talks -%}
            {%- assign sub_check = site.talks | where: 'name', sub_t.name | first -%}
            {%- if sub_check.categories contains conf_name -%}
              {%- assign day_has_conf = true -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
          {%- if day_has_conf -%}{%- break -%}{%- endif -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if day_has_conf -%}{%- break -%}{%- endif -%}
    {%- endfor -%}

    {%- if day_has_conf -%}
      {%- for room_schedule in d.rooms -%}
        {%- assign room_has_conf = false -%}
        {%- for t in room_schedule.talks -%}
          {%- assign t_talk = site.talks | where: 'name', t.name | first -%}
          {%- if t_talk.categories contains conf_name -%}
            {%- assign room_has_conf = true -%}
            {%- break -%}
          {%- elsif t.talks -%}
            {%- for sub_t in t.talks -%}
              {%- assign sub_check = site.talks | where: 'name', sub_t.name | first -%}
              {%- if sub_check.categories contains conf_name -%}
                {%- assign room_has_conf = true -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
            {%- if room_has_conf -%}{%- break -%}{%- endif -%}
          {%- endif -%}
        {%- endfor -%}
        {%- if room_has_conf -%}
          {%- assign first_t = room_schedule.talks | first -%}
          {%- assign last_t = room_schedule.talks | last -%}
          {%- assign first_hour = first_t.time_start | split: ':' | first | plus: 0 -%}
          {%- assign first_min = first_t.time_start | split: ':' | last | plus: 0 -%}
          {%- assign first_total = first_hour | times: 60 | plus: first_min -%}
          {%- assign last_hour = last_t.time_end | split: ':' | first | plus: 0 -%}
          {%- assign last_min = last_t.time_end | split: ':' | last | plus: 0 -%}
          {%- assign last_total = last_hour | times: 60 | plus: last_min -%}
          {%- if first_total < conf_start_total_min -%}
            {%- assign conf_start_total_min = first_total -%}
          {%- endif -%}
          {%- if last_total > conf_end_total_min -%}
            {%- assign conf_end_total_min = last_total -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}

  {%- include partials/render_conference_section.html conf_name=conf_name section_start_total_min=conf_start_total_min section_end_total_min=conf_end_total_min show_header=true -%}

{% include partials/footer.html %}
